@import "tailwindcss";

html {
    scroll-padding-top: 0px;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* Strict snap mandatory for jump effect */
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for clean look but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}